data/raw/
data/shared/processed/*.csv
data/shared/splits/*.csv
data/experiment_3/*.csv
data/processed/
data/splits/
splits/
models/hf/
results/embeddings/
results/checkpoints/
auth.json
c669f101a9336b7831108dcb442c0c18.jpg

__pycache__/
*.pyc
.vscode/
PERSONAL_UNDERSTANDING_NOTES.md
